* {margin: 0;padding: 0;box-sizing: border-box; border: 1px solid black;}
ul {list-style-type: none; color: black;}
a{text-decoration: none; color: black;}

.container {
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   align-items: center;
}
.header {
   display: flex;
   justify-content: space-between;
   width: 1200px;
   height: 100px;
}
.main-menu {
   margin-right: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.main-menu .menu-item {
   width: 150px;
   height: 100px;
}
.main-menu .menu-item a {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}
.main-menu .menu-item .sub-menu {
   display: none;
}
.main-menu .menu-item a:hover {
   background-color: black;
   color: white;
}
.header .main-menu .sub-menu > li {
   line-height: 50px;
}
.img-slide {
   height: 300px;
   width: 1200px;
}
.content {
   width: 1200px;
   height: 200px;
   display: grid;
   grid-template-columns: auto auto auto;
}
.footer {
   width: 1200px;
   height: 100px;
   display: flex;
   justify-content: space-between;
}
.footer .logo {
   width: 300px;
}
.footer .copyright {
   width: 500px;
}
.footer .sns {
   width: 300px;
}